@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */

/*html{*/
/*  overflow-y: scroll;*/
/*}*/
#root, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  /*background-color: #2D466A;*/
}

/* Navbar */
.navbar {
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0 !important;
}

.nav-link:hover {
  transition: transform 0.8s !important;
  color: #2E6AD9 !important;
}

/* Buttons */
.btn {
  background-color: #2E6AD9 !important;
  color: white !important;
  border: none;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #2A5AB2 !important;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}

/* Image Styling */
.responsive-img {
  width: 100% !important;
  max-width: 90% !important;
}

@media (max-width: 768px) {
  .responsive-img {
    max-width: 50% !important;
  }
}

@media (max-width: 576px) {
  .responsive-img {
    max-width: 40% !important;
  }
}

/* Zoom Button */
.zoom-btn {
  position: absolute;
  top: -15px;
  right: -12px;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #F4F5F9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-btn button {
  background-color: #2E6AD9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.zoom-btn button:hover {
  background-color: #2A5AB2;
}
/* Homepage */

/* Footer */
.footer {
  background-color: #2E6AD9;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer .social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.footer .divider {
  width: 30%;
  height: 8px;
  background-color: white;
  margin: 10px auto;
}
